 <div id="wrapper" class="toggled">

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/api">
                API List
            </a>
        </li>
        <li>
            <a href="/api/food" <% if(isAPIPageActive(page, 'food')){ %> class="active" <% } %>>Food</a>
        </li>
        <li>
            <a href="#">Account</a>
        </li>
    </ul>
</div>