<!DOCTYPE html>
<html>
<% include ../partials/fw-page-header.ejs %>
<body>
	<% include ../partials/fw-page-nav.ejs %>
	<% include ../partials/fw-page-sidebar.ejs %>
	<div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>API Documentation</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor turpis sed mi rutrum tempus. Vestibulum varius semper elit, in ultrices nisi varius sed. Maecenas iaculis imperdiet dolor, sit amet sollicitudin enim maximus sit amet. Nulla maximus consequat metus, eget elementum mi. Phasellus nec metus condimentum, volutpat risus non, ornare ex. Aenean in erat mi. Mauris faucibus tellus a felis ornare iaculis. Maecenas nec laoreet arcu. Ut a magna ipsum. Suspendisse sed ligula a massa consectetur finibus et et lorem. Praesent ac elementum neque. Maecenas et libero ut dui egestas cursus. Maecenas dignissim mauris quis orci pretium, sed pharetra elit mattis. Curabitur fringilla libero non metus interdum, vel sagittis orci elementum. Quisque eleifend erat in dolor pulvinar pretium.</p>
                    <p>Praesent eget bibendum dui. Nam eu pharetra velit. Praesent accumsan tempor nulla, sit amet cursus magna congue eu. Curabitur a pharetra eros. Nulla vel augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus metus, ornare et facilisis vitae, mattis eu metus. Phasellus et quam et est finibus lacinia. Pellentesque accumsan lobortis libero quis fermentum. Ut porttitor pretium ante non semper. Phasellus eget mollis eros, ac dictum lacus.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>