<!DOCTYPE html>
<html>
<% include ../../partials/fw-page-header.ejs %>
<body>
	<% include ../../partials/fw-page-nav.ejs %>
	<% include ../../partials/fw-page-sidebar.ejs %>
	<div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Food</h1>

                    <h3><u>Get Food List - <a href="/api/food/menu/get" target="_blank">/api/food/menu/get</a></u></h3>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>